@{
    ViewData["Title"] = "Home Page";
    Layout = "_TemplateLayout";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content-fluid">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onClick="myModal">Register</button>

    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">NIK</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Degree</th>
                    <th scope="col">GPA</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="modal fade " tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Register Employee</h5>
                </div>
                <div class="modal-body" id="detail" center>
                    <form onsubmit="Insert()">
                        <div class="form-group">
                            <label for="nik">NIK</label>
                            <input type="text" class="form-control" id="nik" placeholder="NIK" required>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="salary">Salary</label>
                                <input type="text" class="form-control" id="salary" placeholder="Salary" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="birthDate">Birth Date</label>
                                <input type="date" class="form-control" id="birthDate" placeholder="Birth Date" required>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label>
                                    <select class="form-control" id="gender">
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="degree">Degree</label>
                                <input type="text" class="form-control" id="degree" placeholder="Degree" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="gpa">GPA</label>
                                <input type="text" class="form-control" id="gpa" placeholder="GPA" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="educationId">Education ID</label>
                                <input type="text" class="form-control" id="educationId" placeholder="Edu ID" required>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="universityId">University ID</label>
                                <input type="text" class="form-control" id="universityId" placeholder="Univ ID" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Register</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div id="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Degree Chart</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div id="barchart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Gender Chart</h3>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <div id="piechart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!--<ul id="listPoke"></ul>-->
@section Scripts{
    <script type="text/javascript" src="~/js/ajax.js"></script>
}